@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Noto Sans TC', '微軟正黑體', 'Arial', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
